.my_flex {
  display: flex;
  flex-wrap: wrap;

}

.size {
  margin: 5px;
  border: solid red 2px;
  width: 280px;
  height: 280px;
}

li:hover {
  color: red;
}

.text_position {
  text-align: center;
}

.flex_position {
  display: flex;
}